body {
  margin: 0;
  padding: 0;
}

.map {
  width: 1152px;
  height: 864px;
  margin: 50px auto;
  background: silver;
}

.ol-zoom {
  display: none;
}

#context-menu {
  position: absolute;
  opacity: 0;
}


#control-panel {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 300px;
}

#context-menu .card .dropdown-item {
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
}

#map-zoomer {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#map-zoomer button {
 display: block;
 width: 34px;
 height: 34px;
 margin: 5px;
 padding: 0px;
 border-radius: 50%;
}

#country-editor-control-panel {
  max-width: 260px;
  margin-top: 10px;
}

#country-editor-control-panel .btn-colored {
  display: inline-block;
  margin-left: 2px;
  margin-right: 3px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
}


.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
  opacity: 0;
}