@import './src/editors/country-editor/style.scss';
@import './src/editors/marker-editor/style.scss';
@import './material.input.scss';

body {
  margin: 0;
	padding: 0;
}

.map {
	position: absolute;
	width: 100%;
	height: 100%;
  background: silver;

  .ol-zoom {
    display: none;
  }

  .ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
    opacity: 0;
  }
}

#context-menu {
	position: absolute;
	bottom: 0;

  .card .dropdown-item {
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
  }
}

#control-panel {
  position: absolute;
  left: 10px;
  top: 70px;
  width: 300px;
}

#map-zoomer {
  position: absolute;
  right: 10px;
  bottom: 10px;

  button {
    display: block;
    width: 34px;
    height: 34px;
    margin: 5px;
    padding: 0px;
    border-radius: 50%;
   }
}

.country-label-overlay {
  padding: 5px 8px;
  font-size: 14px;
	font-weight: normal;
}

.animated-overlay {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#app-header {
	color: white !important;
	zoom: 1.2;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	& .navbar-brand {

		img {
			width: 40px;
			height: 40px;
		}
	}
	& button {
		color: white !important;
	}
	& .form-inline {
		position: relative;
	}
	& .user-profile {
		position: absolute;
		right: 200px;
		padding-right: 20px;
		border-right: 1px solid white;
		& img {
			width: 28px;
			height: 28px;
		}
	}
	& .dropdown-menu {
		min-width: 200px;
		left: -50px;
		padding-left: 10px;

		& .user-avatar {
			display: inline-block;
			border-radius: 50%;
			background: transparent;
			width: 50px;
			height: 50px;
		}
		& a {
			display: inline-block;
			padding: 5px 10px;
			padding-bottom: 20px;
		}
	}
}
.toast {
	zoom: 1.1;
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 1 !important;
}